{{#if addNewQuestion}}
<h1>New Question</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="photo">Photo</label>
        {{input value=photo id="photo"}}
      </div>

      <div class="form-group">
        <label for="content">Additional notes</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="questionPersonName">Your Name</label>
        {{input value=questionPersonName id="questionPersonName"}}
      </div>

      <button type="button" class = "btn btn-outline btn-primary"  {{action 'saveQuestion1'}}>Save</button>
      <button type="button" class="btn btn-outline btn-info center-button" {{action 'newQuestionHide'}}>Hide</button>
    </form>
  </div>
{{else}}
<div class="text-center button-bottom-pad">
  <button type="button" class = "btn btn-success btn-lg" {{action 'questionFormShow'}}>Ask a New Question</button>
</div>
{{/if}}
