<ul class="list-group">
  <li class="list-group-item">Asked by {{question.questionPersonName}} on {{question.timeStampQuestion}}
  {{#link-to 'question' question.id}} Click Here to Answer {{/link-to}} </li>
  <li class="list-group-item"><img src={{question.photo}} alt={{question.content}}></li>
  <li class="list-group-item">{{update-question question=question updateQuestion="updateQuestion"}}</li>
</ul>
