{{#if updateQuestionForm}}
  <div class="text-center">
    <form>
      <div class="form-group">
        <label for="photo">New Photo of questionable Brazilian item</label>
        {{input value=photo id="photo" placeholder=question.photo}}
      </div>

      <div class="form-group">
        <label for="content">Edit Additional Notes</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>
      <div class="button-bottom-pad text-center">
        <button type="button" class = "btn btn-outline btn-primary"  {{action 'updateQuestion' question}}>Save</button>
      </div>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
